/ProyectoParcial/dist/
/Administration/nbproject/private/
/Administration/build/
/Administration/dist/
/Classroom/dist/
/FileServiceClient/nbproject/private/
/FileServiceClient/build/
/FileServiceClient/dist/